*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    place-items: center;
    background-color: #123535;
}
canvas {
    /* margin-left: 0px; */
    background-color: #bfbfbf;
}
h1, h2{
    color: rgb(228, 200, 200);
}

.container{
    margin: 0;
    display: grid;
    place-items: center;
}



